.vscode
.vs
.DS_Store
Umschlag-Backend.API/bin/
Umschlag-Backend.API/obj/
Umschlag-Backend.Core/bin/
Umschlag-Backend.Core/obj/
Umschlag-Backend.Data/bin/
Umschlag-Backend.Data/obj/
Umschlag-Backend.Service/bin/
Umschlag-Backend.Service/obj
Umschlag.Web/bin
Umschlag.Web/obj
Umschlag-Backend.Exception/obj
Umschlag-Backend.Exception/bin

